.dark-searchbox {
  background-color: darkslategray;
  color: whitesmoke;
}
.card-img-height {
  height: 100%;
}
.card-padding {
  padding: 0.5rem;
}
.main-user-img-width {
  width: 50px;
}
.member-img-width {
  max-width: 75px;
}
.chat-img-width {
  width: 50px;
}
.set-progressbar-height {
  height: 7px;
}
.set-progressbar-progress-width {
  width: 75%;
}
.colored-card-img-width {
  width: 65%;
}
.set-card-progressbar-height {
  height: 5px;
}
.productlist-img-width {
  width: 65px;
}
